<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Settings page</title>
  <% include partials/head %>
</head>
<body id="dashboard">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/dashboard">FES LANCER</a>
        
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/dashboard">Tablero</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/publicProyect">Necesito un asesor</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Perfil
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/profile">Mi perfil</a>
            <a class="dropdown-item" href="/settings">Configuraciones</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/privacy">Privacidad</a>
          </div>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>

      <a href="/logout" class="btn btn-outline-danger my-2 my-sm-0 ml-2">Salir</a>
    </div>
  </nav>

    <div style="width: 100%; display: flex; flex-direction: row;">
      <div class="card mt-5 ml-5" style="width: 17rem; max-height: 550px;">
        <img class="card-img-top mt-4" src="<%= user.info.img %>" alt="Mi foto" style="width: 50%; border-radius: 50%; margin: 0 auto; border: 1px solid green;">
        <div class="card-body">
          <h5 class="card-title"><%= user.info.nombre %></h5>
          <p class="card-text"><strong>Carrera: </strong> <%= user.info.carrera %></p>
          <p class="card-text"><strong>Tus habilidades: </strong></p>
          <ul class="habilidadesCard">
            <% var i = 0; 
              var long = user.info.habilidades.length; 
              for (i = 0; i < long; i++){ %>
                <li><%= user.info.habilidades[i] %></li>    
            <% } %>
          </ul>
          <a href="/profile" class="btn btn-outline-success my-2 my-sm-0">Editar</a>
        </div>
      </div>
      
      <div class="container bg-white mt-5 mb-5" style="width: 60rem; border: 1px solid #DFDFDF; padding: 0px;">
        
        <% for (var i = 0; i < offers.length; i++) {%>
          <div class="card cardProyect">
            <div class="card-body">
              <div class="card-header">
                <div class="row mt-1">
                  <h5 class="card-title col-md-5"><%= offers[i].titulo %></h5>
                  <h6 class="card-text text-dark col-md-4 mt-1"><%= offers[i].fechaPublicacion %> <%= offers[i].horaPublicacion %></h6>
                  <h6 class="card-text text-success col-md-3 mt-1">Tiempo restante: <strong>1</strong> día</h6>
                </div>
              </div>
              <h6 class="card-subtitle mb-2 mt-3 text-muted"><%= offers[i].materia %></h6>
              <p class="card-text"><strong>Descripción: </strong><%= offers[i].descripcion %></p>
              <p class="card-text"><strong>Plazo de espera: </strong><%= offers[i].plazo %> días</p>
              <p class="card-text"><strong>Duración: </strong><%= offers[i].urgencia %></p>
              <div class="btnAndHabilidadesCard">
                <ul class="habilidadesCardR">
                  <%
                    var long = offers[i].habilidades.length; 
                    for (var j = 0; j < long; j++){ %>
                      <li><%= offers[i].habilidades[j] %>,</li>   
                  <% } %>
                </ul>
                <a href="/seeProyect" class="btn btn-info">Ayudar</a>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  
  <% include partials/librarys %>

</body>
</html>