<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Profile page</title>
  <% include partials/head %>
</head>
<body id="profile">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/dashboard">FES LANCER</a>
        
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Tablero</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/publicProyect">Necesito un asesor</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Perfil
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/profile">Mi perfil</a>
            <a class="dropdown-item" href="/settings">Configuraciones</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/privacy">Privacidad</a>
          </div>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>

      <a href="/logout" class="btn btn-outline-danger my-2 my-sm-0 ml-2">Salir</a>
    </div>
  </nav>

  <div class="container mt-5 mb-5 pt-4" style="text-shadow: 1px 1px 1px #000; background: rgba(0,0,0,0.7);">
    <h2 class="text-center text-primary">Este es tu perfil en Fes Lancer</h2>
    <h5 class="text-center text-light">Puedes editarlo si así lo deseas</h5>

    <form action="/uploadpi" method="POST" class="mt-4" enctype="multipart/form-data" style="color: #fff;">
      <div class="form-row">
        <div class="col-md-9">
          <div class="form-group col-md-11">
            <label for="nombre">Nombre</label>
            <input type="text" name="Nombre" class="form-control" required value="<%= user.info.nombre %>">
          </div>
          
          <div class="form-row pl-3">
            <div class="form-group col-md-3">
              <label for="ncuenta">No. de cuenta UNAM</label>
              <input type="text" name="ncuenta" class="form-control" required value="<%= user.info.ncuenta %>">
            </div>
            
            <div class="form-group col-md-2 offset-md-1">
                <label for="sexo">Sexo</label>      
                <select name="sexo" class="form-control" required>
                  <option value="" selected></option>
                  <option value="Masculino">Masculino</option>
                  <option value="Femenino">Femenino</option>
                  <option value="Otro">Otro</option>
                  <option value="Prefiero no decirlo">Prefiero no decirlo</option>
                </select>
            </div>
            
            <div class="form-group col-md-3 offset-md-1">
                <label for="tel">Telefono de contacto</label>      
                <input type="text" class="form-control" name="tel" required value="<%= user.info.tel %>">
            </div>
          </div>
              
          <div class="form-group col-md-11">
            <label for="carrera">Carrera</label>   
            <select name="carrera" class="form-control" required>
              <option value=""></option>
              <option value="Arquitectura">Arquitectura</option>
              <option value="Comunicacion y periodismo">Comunicación y periodismo</option>
              <option value="Derecho">Derecho</option>
              <option value="Diseño industrial">Diseño industrial</option>
              <option value="Economía">Economía</option>
              <option value="Ingeniería Civil">Ingeniería Civil</option>
              <option value="Ingeniería Electrica Electrónica">Ingeniería Electrica Electrónica</option>
              <option value="Ingeniería en Computación">Ingeniería en Computación</option>
              <option value="Ingeniería Industrial">Ingeniería Industrial</option>
              <option value="Ingeniería Mecánica">Ingeniería Mecánica</option>
              <option value="Pedagogía">Pedagogía</option>
              <option value="Planificación para el Desarrollo Agropecuario">Planificación para el Desarrollo Agropecuario</option>
              <option value="Relaciones Internacionales">Relaciones Internacionales</option>
              <option value="Sociología">Sociología</option>
            </select> 
          </div>
          
          <div class="form-row pl-3">
            <div class="form-group col-md-2">
              <label for="semestre">Semestre actual</label>   
              <select name="semestre" class="form-control" required>
                <option value=""></option>
                <option value="2018_01">2018_01</option>
                <option value="2018_02">2018_02</option>
              </select> 
            </div>
            
            <div class="form-group col-md-2 offset-md-1">
              <label for="grupo">Grupo</label>   
              <select name="grupo" class="form-control" required>
                <option value=""></option>
                <option value="1158">1158</option>
                <option value="1159">1159</option>
              </select> 
            </div>
            
            <div class="form-group col-md-3 offset-md-1">
              <label for="turno">Turno</label>   
              <select name="turno" class="form-control" required>
                <option value=""></option>
                <option value="Matutino">Matutino</option>
                <option value="Vespertino">Vespertino</option>
              </select> 
            </div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="form-group text-center">
            <h3><%= user.info.nombre %></h3>
            <div style="background: url(<%= user.info.img %>); background-size: cover; background-repeat: no-repeat; background-position: center; width: 150px; height: 150px; margin: auto; border-radius: 50%;" class="border border-primary mb-4 mt-3"></div>

            <label for="file" class="subir">
              <i class="fas fa-cloud-upload-alt"></i> Elegir un archivo
            </label>

            <input type="file" name="file" id="file" onchange="cambiar()" class="imgProfileFile"/>

            <div id="info"></div>
          </div>
        </div>
      </div>

      <div class="form-row pl-3 pr-3 pt-0">
        <div class="form-group col-md-12">
          <div id="habilidades">
          </div>
        </div>
      </div>

      <div class="form-row pl-3 pt-0 pr-3 pb-0">
        <div class="form-group col-md-4">
          <label for="habilidad">Aumenta tus habilidades</label>
          <input type="text" id="habilidad" name="habilidad" onkeyup="minus(this);" class="form-control">
        </div>

        <div class="form-group col-md-1">
          <label class="text-muted">.</label><br>
          <button id="btnA" class="btn btn-dark">Añadir</button>
        </div>
      </div>
    </form>         
  </div>

  <% include partials/librarys %>
  
</body>
</html>